<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="..//lb/fontawesome/css/all.min.css">
    <link rel="shortcut icon" href="../img/logo2.png">

    <title>World Pizza</title>
</head>

<body>

    <!-- Boton de ir arriba -->
    <div id="btn-top">
        <span class="fas fa-angle-up"></span>
    </div>
    <!-- Menu Principal -->
    <div class="menu-principal">

        <div class="logo" id="logo">
            <img src="../img/logo2.png" alt="logo">
        </div>

        <div class="menu-bar" id="menuBar">
            <i class="fas fa-angle-right" id="btnMenuClose"></i>

            <nav class="enlaces" id="enlaces">
                <ul>
                    <li><a href="#servicios">Servicios</a></li>
                    <li><a href="#equipo">Equipo</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </nav>

            <div class="sociales">
                <a href="#"><span class="fab fa-facebook"></span></a>
                <a href="#"><span class="fab fa-instagram"></span></a>
                <a href="#"><span class="fab fa-twitter"></span></a>
                <a href="#"><span class="fab fa-youtube"></span></a>
            </div>
        </div>

        <i class="fas fa-bars" id="btnMenuOpen"></i>


    </div>


    <!-- Slider de Productos -->
    <section id="menu-productos">

        <div class="contenedor-principal">
            <button id="btn-izquierda"><span class="fas fa-angle-left"></span></button>

            <div class="slider">

                <div class="container-productos">

                    <div class="descripcion-productos">
                        
                        <h2>Producto <b>premium</b></h2>
                        <h1>Peperonni</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae et officia labore repellendus
                            molestiae nihil.</p>

                        <button class="btn">¡Solicitala aqui! <span class="fas fa-angle-right"></span></button>

                    </div>

                    <div class="imagen-productos">
                        <img src="../img/menu/peperoni.png" alt="">
                    </div>


                </div>

                <div class="container-productos">

                    <div class="descripcion-productos">
                        <h2>Producto <b>premium</b></h2>
                        <h1>Especial</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae et officia labore repellendus
                            molestiae nihil.</p>

                        <button class="btn">¡Solicitala aqui! <span class="fas fa-angle-right"></span></button>

                    </div>

                    <div class="imagen-productos">
                        <img src="../img/menu/especial.png" alt="">

                    </div>




                </div>

                <div class="container-productos">

                    <div class="descripcion-productos">
                        <h2>Producto <b>basico</b></h2>
                        <h1>Margarita</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae et officia labore repellendus
                            molestiae nihil.</p>

                        <button class="btn">¡Solicitala aqui! <span class="fas fa-angle-right"></span></button>

                    </div>

                    <div class="imagen-productos">
                        <img src="../img/menu/margarita.png" alt="">
                    </div>




                </div>

                <div class="container-productos">

                    <div class="descripcion-productos">
                        <h2>Producto <b>premium</b></h2>
                        <h1>Americana</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae et officia labore repellendus
                            molestiae nihil.</p>

                        <button class="btn">¡Solicitala aqui! <span class="fas fa-angle-right"></span></button>

                    </div>

                    <div class="imagen-productos">
                        <img src="../img/menu/americana.png" alt="">
                    </div>




                </div>

                <div class="container-productos">

                    <div class="descripcion-productos">
                        <h2>Producto <b>especial</b></h2>
                        <h1>Suprema</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae et officia labore repellendus
                            molestiae nihil.</p>

                        <button class="btn">¡Solicitala aqui! <span class="fas fa-angle-right"></span></button>

                    </div>

                    <div class="imagen-productos">
                        <img src="../img/menu/suprema.png" alt="">
                    </div>




                </div>

            </div>

            <button id="btn-derecha"><span class="fas fa-angle-right"></span></button>

        </div>
    </section>

    <!--Seccion Servicios -->
    <section id="servicios">

        <div class="servicios-titulos">

            <h2 class="subtitulos">La mejor pizza del mundo</h2>
            <h1 class="titulos">Bienvenidos a World Pizza</h1>

        </div>

        <div class="servicios-container">

            <div class="imagen-central">

                <img src="../img/mitad-mitad.png" alt="">

            </div>

            <div class="items calidad">

                <p><span class="fas fa-pizza-slice"></span></p>
                <p class="titulo-item">Calidad</p>
                <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, nobis? Incidunt odio quis quos adipisci quod a in perspiciatis recusandae.</p>

            </div>

            <div class="items ingredientes">

                <p><span class="fas fa-cheese"></span></p>
                <p class="titulo-item">Ingredientes</p>
                <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, nobis? Incidunt odio quis quos adipisci quod a in perspiciatis recusandae.</p>
                

            </div>

            <div class="items rapidez">

                <p><span class="fas fa-clock"></span></p>
                <p class="titulo-item">Rapidez</p>
                <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, nobis? Incidunt odio quis quos adipisci quod a in perspiciatis recusandae.</p>
                
            </div>

            <div class="items delivery">

                <p><span class="fas fa-shipping-fast"></span></p>
                <p class="titulo-item">Delivery</p>
                <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, nobis? Incidunt odio quis quos adipisci quod a in perspiciatis recusandae.</p>
                
            </div>

        </div>
    </section>

    <!--Seccion de equipo -->
    <section id="equipo">

        <div class="persona">

            <img src="../img/perfil1.png" alt="" class="persona-imagen">
            <div class="persona-info">

                <h2>Jesus Alonso</h2>
                <p>Chef Pizzero</p>
                <div class="social-media">

                    <a href=""><span class="fab fa-facebook"></span></a>
                    <a href=""><span class="fab fa-instagram"></span></a>
                    <a href=""><span class="fab fa-twitter"></span></a>
                    <a href=""><span class="fab fa-linkedin-in"></span></a>

                </div>
            </div>
        </div>

        <div class="persona">

            <img src="../img/perfil2.png" alt="" class="persona-imagen">
            <div class="persona-info">

                <h2>Eliza Smith</h2>
                <p>Chef</p>
                <div class="social-media">

                    <a href=""><span class="fab fa-facebook"></span></a>
                    <a href=""><span class="fab fa-instagram"></span></a>
                    <a href=""><span class="fab fa-twitter"></span></a>
                    <a href=""><span class="fab fa-linkedin-in"></span></a>

                </div>
            </div>
        </div>

        <div class="persona">

            <img src="../img/perfil3.png" alt="" class="persona-imagen">
            <div class="persona-info">

                <h2>Henry Griffith</h2>
                <p>Asistente Chef</p>
                <div class="social-media">

                    <a href=""><span class="fab fa-facebook"></span></a>
                    <a href=""><span class="fab fa-instagram"></span></a>
                    <a href=""><span class="fab fa-twitter"></span></a>
                    <a href=""><span class="fab fa-linkedin-in"></span></a>

                </div>
            </div>
        </div>

        <div class="persona">

            <img src="../img/perfil4.png" alt="" class="persona-imagen">
            <div class="persona-info">

                <h2>Paulina Vega</h2>
                <p>Asistente</p>
                <div class="social-media">

                    <a href=""><span class="fab fa-facebook"></span></a>
                    <a href=""><span class="fab fa-instagram"></span></a>
                    <a href=""><span class="fab fa-twitter"></span></a>
                    <a href=""><span class="fab fa-linkedin-in"></span></a>

                </div>
            </div>
        </div>

    </section>

    <!--Seccion de Ingredientes -->
    <section id="ingredientes">
        <div class="ingre">
            <img src="../img/ingredientes1.jpg" alt="" class="imagen-ingre">
            <div class="info-ingre">

                <p><span class="fas fa-cheese"></span></p>
                <p class="txt-ingre">Quesos</p>

            </div>
        </div>

        <div class="ingre">
            <img src="../img/ingredientes2.jpg" alt="" class="imagen-ingre">
            <div class="info-ingre">

                <p><span class="fas fa-leaf"></span></p>
                <p class="txt-ingre">Vegetales</p>

            </div>
        </div>

        <div class="ingre">
            <img src="../img/ingredientes3.jpg" alt="" class="imagen-ingre">
            <div class="info-ingre">

                <p><span class="fas fa-fill-drip"></span></p>
                <p class="txt-ingre">Salsa</p>

            </div>
        </div>

        <div class="ingre">
            <img src="../img/ingredientes4.jpg" alt="" class="imagen-ingre">
            <div class="info-ingre">

                <p><span class="fas fa-drumstick-bite"></span></p>
                <p class="txt-ingre">Carne</p>

            </div>
        </div>
    </section>

    <!--Seccion de Contacto -->
    <section id="contacto">
        <div class="titulo-contacto">
            <h2 class="subtitulos">Queremos conocer tu opinión</h2>
            <h1 class="titulos">Contáctanos</h1>
        </div>

        <form action="" id="formulario">

            <div class="two-fiels">
                <div class="inputConIcon">
                    <input type="text" id="nombre" name="nombre" class="input-text" placeholder="Nombre">
                    <i class="fas fa-user"></i>
                </div>

                <div class="inputConIcon">
                    <input type="email" id="email" name="email" class="input-email" placeholder="Email">
                    <i class="fas fa-envelope"></i>
                </div>

            </div>

            <div class="fiels">
                <div class="inputConIcon textareaIcon">
                    <textarea name="comentarios" id="comentarios" class="textarea" placeholder="Ingrese su mensaje" ></textarea>
                    <i class="fas fa-comments"></i>

                </div>

            </div>

            <div class="fiels-btn">
                <input type="submit" class="btn btn-input" value="Enviar" >
            </div>
        </form>
    </section>

    <!-- Alertas -->
    <div class="alertas">
        <div id="alertError" class="alert hide">

            <span class="icono-alert fas fa-exclamation-circle"></span>
            <span class="msg">Error:campos de entrada vacíos.</span>

        </div>

        <div id="alertSuccess" class="alert hide">

            <span class="icono-alert fas fa-check-circle"></span>
            <span class="msg">Datos enviados! Gracias por contactarnos.</span>

        </div>

    </div>

    <!-- Seccion Footer -->
    <footer>
        <div class="sociales-metodo">
            <i class="fas fa-map-marked-alt"></i>
            <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</span>
        </div>

        <div class="sociales-metodo">
            <i class="fas fa-envelope"></i>
            <span>info@worldpizza.com</span>
        </div>

        <div class="sociales-metodo">
            <i class="fas fa-phone"></i>
            <span>+245252962622</span>
        </div>

        <div class="sociales-metodo">
            <i class="fab fa-twitter"></i>
            <span>@worldpizza</span>
        </div>
    </footer>

    <script src="../js/app.js"></script>
</body>

</html>